# default owners:
* @alperbasak

# backend owners:
/src/backend/ @alper-test1 @token3-imec
/tests/backend/ @alper-test1 @token3-imec

# frontend owners:
/src/frontend/ @token3-imec @codeowners-bot
/tests/frontend/ @token3-imec
